<!DOCTYPE html>
<html>
<head>
    <title>New Map</title>
</head>
<body style="height: 100%; margin: 0; padding: 0;">
    <div id="map" style="height: 100vh; width: 100%;"></div>
    <!-- <script src="{{ url_for('static', filename='map.js') }}"></script> -->
	<script>
		let map;
		let drawingManager;
		let polygons = [];
		
		function initMap() {
		  map = new google.maps.Map(document.getElementById("map"), {
			center: { lat: 43.7915, lng: -79.5400 },
			zoom: 15,
			mapTypeId: 'hybrid'  // Set map type to hybrid
		  });
		
		  drawingManager = new google.maps.drawing.DrawingManager({
			drawingMode: google.maps.drawing.OverlayType.POLYGON,
			drawingControl: true,
			drawingControlOptions: {
			  position: google.maps.ControlPosition.TOP_CENTER,
			  drawingModes: [google.maps.drawing.OverlayType.POLYGON],
			},
		  });
		
		  drawingManager.setMap(map);
		
		  // Listen for overlay complete event
		  google.maps.event.addListener(drawingManager, "overlaycomplete", function(event) {
			const polygon = event.overlay;
			polygons.push(polygon);
			
			const lastVertex = getLastVertex(polygon);
			const marker = new google.maps.Marker({
			  position: lastVertex,
			  map: map,
			});
		
			// Add right-click event listener for polygon
			google.maps.event.addListener(polygon, "rightclick", function() {
			  marker.setMap(null); // Remove the marker
			  polygon.setMap(null); // Remove the polygon
			  
			  const index = polygons.indexOf(polygon);
			  if (index !== -1) {
				polygons.splice(index, 1);
			  }
			});
		
			// Add mouseover event listener for marker
			google.maps.event.addListener(marker, "mouseover", function() {
			  const coordinates = getPolygonCoordinates(polygon);
			  
			  const infowindow = new google.maps.InfoWindow({
				content: "Polygon corners coordinates:<br>" + coordinates,
			  });
		
			  infowindow.open(map, marker);
			});
		
			// Add mouseout event listener for marker
			google.maps.event.addListener(marker, "mouseout", function() {
			  marker.infowindow.close();
			});
		  });
		}
		
		function getPolygonCoordinates(polygon) {
		  const paths = polygon.getPath();
		  const coordinates = [];
		  for (let i = 0; i < paths.getLength(); i++) {
			const vertex = paths.getAt(i);
			coordinates.push({ lat: vertex.lat(), lng: vertex.lng() });
		  }
		  return JSON.stringify(coordinates);
		}
		
		function getLastVertex(polygon) {
		  const paths = polygon.getPath();
		  return paths.getAt(paths.getLength() - 1);
		}
		
		window.initMap = initMap;
		</script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvPrksYQ5T67jJ10bOtEuroZT3kClPmHI&callback=initMap&libraries=drawing&&language=en"></script>
</body>
</html>