<div id="map" style="height: 100vh; width: 100%"></div>
<script>
  let map;
  let drawingManager;
  let polygons = [];
  let drawn_markers = [];

  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: 43.7915, lng: -79.54 },
      zoom: 15,
      mapTypeId: "terrain", // Set map type to hybrid
    });

    drawingManager = new google.maps.drawing.DrawingManager({
      drawingMode: google.maps.drawing.OverlayType.POLYGON,
      drawingControl: true,
      drawingControlOptions: {
        position: google.maps.ControlPosition.TOP_CENTER,
        drawingModes: [google.maps.drawing.OverlayType.POLYGON],
      },
    });

    drawingManager.setMap(map);

    // Listen for overlay complete event
    google.maps.event.addListener(
      drawingManager,
      "overlaycomplete",
      function (event) {
        const polygon = event.overlay;
        polygons.push(polygon);

        

        window.Retool.subscribe(function (model) {
          for (let i = 0; i < drawn_markers.length; i++) {
            drawn_markers[i].setMap(null);
          }
          drawn_markers = [];

          let markerGroups = {};

          for (let i = 0; i < model.postalcodes.length; i++) {
            const postalCodeData = model.postalcodes[i];
            const latLngKey = `${postalCodeData.Latitude}_${postalCodeData.Longitude}`;

            if (!markerGroups[latLngKey]) {
              markerGroups[latLngKey] = [];
            }

            markerGroups[latLngKey].push(postalCodeData.Postalcode);
          }

          // Iterate through marker groups and create markers
          for (const latLngKey in markerGroups) {
            const [latitude, longitude] = latLngKey.split("_").map(parseFloat);
            const postalCodes = markerGroups[latLngKey];
            const combinedTitle = postalCodes.join(" ; ");

            let marker = new google.maps.Marker({
              position: {
                lat: latitude,
                lng: longitude,
              },
              title: combinedTitle,
            });

            marker.setMap(map);
            drawn_markers.push(marker);
          }
        });

        // Update the model component with coordinates
        const coordinates = getPolygonCoordinates(polygon);
        window.Retool.modelUpdate({ p_coordinates: coordinates });
        window.Retool.triggerQuery("get_postalcodes");


        // Add right-click event listener for polygon
        google.maps.event.addListener(polygon, "rightclick", function () {
          polygon.setMap(null); // Remove the polygon

          const index = polygons.indexOf(polygon);
          if (index !== -1) {
            polygons.splice(index, 1);
          }

          for (let i = 0; i < drawn_markers.length; i++) {
            drawn_markers[i].setMap(null);
          }
          drawn_markers = [];

          // Update the model component after removing the polygon
          const remainingCoordinates = polygons.map((p) =>
            getPolygonCoordinates(p)
          );
          window.Retool.modelUpdate({
            p_coordinates: remainingCoordinates.join(";"),
          });
          window.Retool.modelUpdate({
            postalcodes: [],
          });
        });
      }
    );
  }

  function getPolygonCoordinates(polygon) {
    const paths = polygon.getPath();
    const coordinates = [];

    for (let i = 0; i < paths.getLength(); i++) {
      const vertex = paths.getAt(i);
      coordinates.push(`${vertex.lng()} ${vertex.lat()}`);
    }

    // Close the polygon
    const firstVertex = paths.getAt(0);
    coordinates.push(`${firstVertex.lng()} ${firstVertex.lat()}`);

    const polygonString = "POLYGON((" + coordinates.join(", ") + "))";
    return polygonString;
  }

  window.initMap = initMap;
</script>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvPrksYQ5T67jJ10bOtEuroZT3kClPmHI&callback=initMap&libraries=drawing&&language=en"
></script>
