<div id="map" style="height: 100vh; width: 100%"></div>
<script>
  let map;
  let drawingManager;
  let currentPolygon; // Keep track of the currently drawn polygon
  let drawn_markers = [];
  let coordinateCounts = {}; // Keep track of coordinate counts

  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: 43.7915, lng: -79.54 },
      zoom: 15,
      mapTypeId: "terrain", // Set map type to hybrid
    });

    // Add right-click event listener to the map
google.maps.event.addListener(map, "rightclick", function (event) {
  // Remove the currently drawn polygon if it exists
  if (currentPolygon) {
    currentPolygon.setMap(null);
    currentPolygon = null;
  }
  
  window.Retool.triggerQuery("get_postalcodes");

  // Remove all markers
  for (let i = 0; i < drawn_markers.length; i++) {
    drawn_markers[i].setMap(null);
  }
  drawn_markers = [];
});

    drawingManager = new google.maps.drawing.DrawingManager({
      drawingMode: google.maps.drawing.OverlayType.POLYGON,
      drawingControl: true,
      drawingControlOptions: {
        position: google.maps.ControlPosition.TOP_CENTER,
        drawingModes: [google.maps.drawing.OverlayType.POLYGON],
      },
    });

    drawingManager.setMap(map);

    // Listen for overlay complete event
    google.maps.event.addListener(
      drawingManager,
      "overlaycomplete",
      function (event) {
        // Remove the previously drawn polygon if it exists
        if (currentPolygon) {
          currentPolygon.setMap(null);
        }
        const polygon = event.overlay;
        currentPolygon = polygon; // Set the current polygon

        // // Add an event listener to the polygons to delete them on right-click
        google.maps.event.addListener(polygon, 'rightclick', function () {
          polygon.setMap(null);
          window.Retool.triggerQuery("get_postalcodes");
        });

        window.Retool.subscribe(function (model) {
          for (let i = 0; i < drawn_markers.length; i++) {
            drawn_markers[i].setMap(null);
          }
          drawn_markers = [];

          coordinateCounts = {}; // Reset coordinate counts

          for (let i = 0; i < model.postalcodes.length; i++) {
            const postalCodeData = model.postalcodes[i];
            const latLngKey = `${postalCodeData.Latitude}_${postalCodeData.Longitude}`;

            if (!coordinateCounts[latLngKey]) {
              coordinateCounts[latLngKey] = {
                count: 1,
                postalCodes: [postalCodeData.Postalcode],
              };
            } else {
              coordinateCounts[latLngKey].count++;
              coordinateCounts[latLngKey].postalCodes.push(
                postalCodeData.Postalcode
              );
            }
          }

          // Iterate through coordinateCounts and create markers
          for (const latLngKey in coordinateCounts) {
            const [latitude, longitude] = latLngKey.split("_").map(parseFloat);
            const { count, postalCodes } = coordinateCounts[latLngKey];
            const combinedTitle = postalCodes.join(" ; ");

            let marker;

            // Set marker color to purple for markers with duplicates and default color for normal markers
            if (count > 1) {
              marker = new google.maps.Marker({
                position: {
                  lat: latitude,
                  lng: longitude,
                },
                title: combinedTitle,
                icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png', // Purple icon for duplicates
              });
            } else {
              marker = new google.maps.Marker({
                position: {
                  lat: latitude,
                  lng: longitude,
                },
                title: combinedTitle,
                icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
              });
            }

            marker.setMap(map);
            drawn_markers.push(marker);
          }
        });

        // Update the model component with coordinates
        const coordinates = getPolygonCoordinates(polygon);
        window.Retool.modelUpdate({ p_coordinates: coordinates });
        window.Retool.triggerQuery("get_postalcodes");
      }
    );
  }

  function getPolygonCoordinates(polygon) {
    const paths = polygon.getPath();
    const coordinates = [];

    for (let i = 0; i < paths.getLength(); i++) {
      const vertex = paths.getAt(i);
      coordinates.push(`${vertex.lng()} ${vertex.lat()}`);
    }

    // Close the polygon
    const firstVertex = paths.getAt(0);
    coordinates.push(`${firstVertex.lng()} ${firstVertex.lat()}`);

    const polygonString = "POLYGON((" + coordinates.join(", ") + "))";
    return polygonString;
  }

  window.initMap = initMap;
</script>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvPrksYQ5T67jJ10bOtEuroZT3kClPmHI&callback=initMap&libraries=drawing&&language=en"
></script>